<div class="summary-header">
  <section class="stats">
    <div class="combat-stats">
      {{> "systems/ptu/templates/actor/parts/actor-stats-combat.hbs"}}
    </div>
    <div class="derived-stats">
      {{> "systems/ptu/templates/actor/parts/actor-stats-derived.hbs"}}
    </div>
  </section>
  <section class="skills">
    {{> "systems/ptu/templates/actor/parts/actor-skills.hbs"}}
  </section>
</div>