<select class='bkrnd-info-field editable'>
  {{#select selected}}
    <option value='start'>Pick a skill.</option>
    {{#each system.skills as |s key|}}
      <option value='{{key}}'>{{s.label}}</option>
    {{/each}}
  {{/select}}
</select>