.window-app {
  font-family: fot-udkakugoc80-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}
