ul.skills-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px groove #eeede0;
  border-radius: 3px;

  li.skill:nth-child(2n + 1) {
    background-color: #d2d2d24d;
  }
  li.skill[group-type='Body']:hover {
    background-color: #ff000033;
  }
  li.skill[group-type='Mind']:hover {
    background-color: #ffee0633;
  }
  li.skill[group-type='Spirit']:hover {
    background-color: #09ff0033;
  }

  li.skill.active {
    background-color: #20206033;
  }
  li.skill {
    padding-left: 0.3em;
    display: grid;
    grid-template-columns: auto 5em 7em 3em 5em 40px;
    align-items: center;
    height: 2em;
    background-color: #9b9b9b33;

    .skill-name {
      display: inline-flex;
      font-size: var(--font-size-13, 10pt);
      h4 {
        display: inline-block;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .skill-value,
    .skill-modifier {
      border-bottom: 2px groove #eeede0 !important;
    }
    .skill-roll {
      line-height: 1.5;
      font-weight: 700;
      text-align: center;
      border: 1px dotted #00000033;
      cursor: initial;
    }

    .skill-rank {
      text-align: center;
    }

    input[type='text'] {
      border: none;
      height: auto;
      text-align: center;
    }

    .rollable {
      align-items: center;

      img:hover {
        animation: dice-spin 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045) 1
          forwards;
        transform-origin: 50% 40%;
        filter: invert(16%) sepia(51.5%) saturate(4012%) hue-rotate(345deg)
          brightness(100%) contrast(86%);
      }
      img {
        opacity: 60;
        width: 24px;
        height: 24px;
        border: unset;
      }
    }
  }
}
