ul.stats-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px groove #eeede0;
  border-radius: 3px;

  li.stat:nth-child(2n + 1) {
    background-color: #d2d2d24d;
  }
  li.stat:hover {
    background-color: #4040c033;
  }

  li.stat.active {
    background-color: #20206033;
  }
  li.stat {
    padding-left: 0.3em;
    display: grid;
    grid-template-columns: auto repeat(5, 4em) 40px;
    align-items: center;
    height: 2em;
    background-color: #9b9b9b33;

    .stat-name {
      display: inline-flex;
      font-size: var(--font-size-13, 10pt);
      h4 {
        display: inline-block;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .stat-feats,
    .stat-level {
      border-bottom: 2px groove #eeede0 !important;
    }
    .stat-total {
      line-height: 1.5;
      font-weight: 700;
      text-align: center;
      border: 1px dotted #00000033;
      cursor: initial;
    }

    input[type='number'] {
      border: none;
      height: auto;
      text-align: center;
    }

    .stat-baseStat,
    .stat-bonus {
      text-align: center;
    }
  }
}
