.trainer-card {
  height: 400px;
  width: 634px;

  .card {
    /* Card Background raw is 634x400px */
    background: no-repeat url('../image/Trainer-Card/maroon.svg');

    height: 100%;

    display: flex;
    justify-content: space-between;

    .left-side {
      width: 325px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .editable:hover {
        background-color: #473d8b44 !important;
      }

      .trainer-info-list {
        list-style: none;
        margin-top: 60px;

        .trainer-info-field {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
        }

        .trainer-bio {
          display: flex;
        }

        .trainer-bio-field + .trainer-bio-field {
          margin-left: 3px;
        }

        .trainer-bio-field {
          height: 40px !important;

          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;

          span {
            background-color: #ed0000cc;
            width: -webkit-fill-available;
            border-bottom: dimgrey groove;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            text-align: center;
          }

          input[type='text'] {
            text-align: center !important;
          }
        }

        .trainer-bio-field,
        .trainer-info-field {
          background-color: #c0c0c0cc;

          margin-top: 3px;
          height: 20px;

          border-radius: 3px;
          border-bottom-style: double;
          border-bottom-width: 4px;

          input[type='text'] {
            background: none;

            border: none;

            text-align: right;
            font-weight: bold;
            height: min-content;
          }
        }
        span {
          padding-inline: 3px;
        }
      }

      .trainer-background {
        background-color: #c0c0c0cc;
        border-radius: 3px;
        border-style: ridge;
        //border-color:gold;
        border-image: linear-gradient(#f6e20fff, #b2861eff, #fff1aaff) 1;
        margin-top: 12px;

        margin-left: 20px;
        width: 375px;

        display: flex;
        align-items: stretch;
        flex-direction: column;

        .background-name {
          background-color: #ed0000cc;
          border-bottom: dimgrey groove;

          span {
            padding-left: 3px;
          }
        }

        .background-name,
        .skills-up,
        .pathetic-skills {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;

          text-align: center;
        }

        .pathetic-skills {
          flex-wrap: wrap;
        }

        .bkrnd-info-field {
          width: -webkit-fill-available;
        }

        input,
        select {
          border: none;
          background: none;
          text-align: center;
        }
      }
    }
    .right-side {
      width: 197px;
      margin-top: 11px;
      margin-right: 20px;

      .trainer-stars {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .trainer-star {
          height: 18px;
          border: none;
        }
      }

      .trainer-picture-area {
        .trainer-picture {
          height: 350px;
          width: 197px;

          border: double;
          border-color: #c0c0c05c;
          border-radius: 9px;
        }
      }
    }
  }
}
